body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 60vh 10vh 35vh;
}

.ribbon {
    background-color: #3584e4;
    padding: 10px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.ribbon img {
    position: absolute;
    left: 2%;
}

#player-list {
    overflow: auto;
    max-height: 40vh;
    counter-reset: list-counter;
    cursor: move;
    width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#player-list::-webkit-scrollbar {
    display: none;
}

#player-list:hover::-webkit-scrollbar {
    display: block;
}

/* Hide scrollbar for IE, Edge and Firefox */
#player-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#player-list:hover {
    -ms-overflow-style: auto;  /* IE and Edge */
    scrollbar-width: auto;  /* Firefox */
}

.list-group-item.selected {
    background-color: #f0f0f0;
}

#player-list .list-group-item {
    font-size: 1.5em;
    text-align: center;
}

#submit {
    margin-top: 10px;
    margin-bottom: 20px;
}

.list-container {
    width: 50%;
}

#player-list .list-group-item::before {
    content: counter(list-counter) ".";
    counter-increment: list-counter;
    margin-right: 10px;
    font-weight: bold;
    float: left;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
}

th {
    text-align: center;
    padding: 10px;
}

td {
    padding: 10px; 
}
