<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/preferences.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="ribbon d-flex justify-content-center align-items-center">
        <img src="{{ url_for('static', filename='img/'+ team_abrv +'.svg') }}" alt="NHL Logo" width="55">
        <h1 class="mx-auto">NHL Draft Pick Recommender</h1>
    </div>
    <br>
    <div class="container">
        <h2>1. Pick constraints</h2>
        <p>Edit the table below to assign constraints to the draft picks. If no min, leave it at 0. If no max, leave it
            at 100. If min is more than max, it will be set to the same value as max.</p>
        <p>Your total number of picks is: <b>{{ num_picks }}</b></p>
        <div id="num_picks" value="{{ num_picks }}"></div>
        <table id="min-max-table">
            <tr>
                <th>Position</th>
                <th>Min Picks</th>
                <th>Max Picks</th>
            </tr>
            <tr>
                <td><b>Goalie</b></td>
                <td><input type="number" min="0" step="1" max="100" value="0" id="goalie_min"
                        oninput="validateValues('goalie_min', 'goalie_max')"></td>
                <td><input type="number" min="0" step="1" max="100" value="100" id="goalie_max"
                        oninput="validateValues('goalie_min', 'goalie_max')"></td>
            </tr>
            <tr>
                <td><b>Left Defense</b></td>
                <td><input type="number" min="0" step="1" max="100" value="0" id="ld_min"
                        oninput="validateValues('ld_min', 'ld_max')"></td>
                <td><input type="number" min="0" step="1" max="100" value="100" id="ld_max"
                        oninput="validateValues('ld_min', 'ld_max')"></td>
            </tr>
            <tr>
                <td><b>Right Defense</b></td>
                <td><input type="number" min="0" step="1" max="100" value="0" id="rd_min"
                        oninput="validateValues('rd_min', 'rd_max')"></td>
                <td><input type="number" min="0" step="1" max="100" value="100" id="rd_max"
                        oninput="validateValues('rd_min', 'rd_max')"></td>
            </tr>
            <tr>
                <td><b>Left Forward</b></td>
                <td><input type="number" min="0" step="1" max="100" value="0" id="lf_min"
                        oninput="validateValues('lf_min', 'lf_max')"></td>
                <td><input type="number" min="0" step="1" max="100" value="100" id="lf_max"
                        oninput="validateValues('lf_min', 'lf_max')"></td>
            </tr>
            <tr>
                <td><b>Right Forward</b></td>
                <td><input type="number" min="0" step="1" max="100" value="0" id="rf_min"
                        oninput="validateValues('rf_min', 'rf_max')"></td>
                <td><input type="number" min="0" step="1" max="100" value="100" id="rf_max"
                        oninput="validateValues('rf_min', 'rf_max')"></td>
            </tr>
        </table>
        <br>
        <h2>2. Set your preference for pick recommendation</h2>
        <div class="slidecontainer" style="display: flex; align-items: center;">
            <p style="margin-right: 10px; font-size: 1.3em">Player Overall Value</p>
            <input type="range" min="1" max="5" value="3" class="slider" id="positional-weight">
            <p style="margin-left: 10px; font-size: 1.3em">Team Positional Need</p>
        </div>
        <br>
        <h2>3. Reorder the ranking to your liking</h2>
        <br>
        <div class="list-container mx-auto">
            <ol id="player-list" class="list-group">
                {% for player in players %}
                <li class="list-group-item">{{ player }}</li>
                {% endfor %}
            </ol>
            <button id="submit" class="btn btn-primary float-right">Submit</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='js/preferences.js') }}"></script>
</body>

</html>